// Shades of grey
$white:    #fff;
$grey-1:   #eee;
$grey-2:   #f4f4f4;
$grey-3:   #3d3d3d;
$grey-4:   #222222;
$grey-5:   #212121;
$grey-6:   #999999;
$grey-7:   #cccccc;
$black:    #000;

$black1: #081c24;

$light-green: #01D475;
$dark-green: #04322F;